/* styles.css */

body {
	font-family: Arial;
}

.titleFont{
	font-family:
}

.bioFont{
	font-family: JetBrains Mono, monospace;
}

h1 {
    font-family: "ITC Bookman", "Bookman Old Style", "URW Bookman", Bookman, serif;
    font-weight: bold;
}

.bebop-img {
	max-width: 600px;
}

.corridor-img {
    max-width: 600px;
}

.livingroom-img {
	max-width: 600px;
}

.edward-img {
	max-width: 600px;
}

.ein-img {
	max-width: 600px;
}

.kitchen-img {
	max-width: 600px;
}

.faye-img {
	max-width: 400px;
}

.forward-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #69d194;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-size: 25px;
}

.backward-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #e64963;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-size: 25px;
}

.home-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #2b0c11;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-size: 16px;
}